@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --violet: hsl(263, 55%, 52%);
    --dark-grey-blue: hsl(217, 19%, 35%);
    --dark-black-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grey-blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    background-color: var(--light-grey-blue);
    margin: 4rem 1.5rem;
}

h1 {
    color: var(--light-grey-blue);
}

.card {
    padding: 2rem;
    border-radius: .8rem;
    margin: 1.5rem 0;
    position: relative;
}

.card img {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 2rem;
}

.profile, .title, .review {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    margin-bottom: 1rem;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.2rem;
}

.grad {
    opacity: .5;
}

.review {
    line-height: 1.2rem;
    opacity: .7;
}

p {
    margin: 0;
}

.profile img {
    border-radius: 50%;
    border: solid var(--light-grey-blue);
    width: 2rem;
    position: relative;
    left: 0;
    top: 0;
}

/* colors */
.violet {
    background-color: var(--violet);
    color: var(--white);

}

.grey-blue {
    background-color: var(--dark-grey-blue);
    color: var(--white);
}

.white {
    background-color: var(--white);
    color: var(--dark-black-blue);
}

.black-blue {
    background-color: var(--dark-black-blue);
    color: var(--light-gray);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media all and (min-width: 900px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'cards long';
        gap: 1.8rem;   
        max-width: 70rem;
        min-width: calc(100% - 40rem);              
        margin: 2rem;
    }

    .card {
        margin: 0;
    }

    .card img {
        margin-right: 3rem;
    }

    .profile img {
        position: absolute;
        margin-right: 0;
        align-items: center;
    }

    .profile-text {
        margin-left: 3.5rem;
    }

    /* card positions */

    .card:nth-child(1) {
        grid-column: 1 / 3;
    }
    
    .card:nth-child(2) {
        grid-column: 3 / 4 ;
    }

    .card:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2 ;
    }

    .card:nth-child(4) {
        grid-area: 2 / 2 / 3 / 4;
    }

    .card:nth-child(5) {
        grid-area: 1 / 4 / 3 / 5;
    }

}